* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  background-color: #eee;
}

.columnsContainer {
  display: flex;
}

.column {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
}

.column:first-child {
  width: 50px;
}

.columnHeader {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
}

.columnCellsContainer {
  background-color: #fff;
}

.columnCells {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 43px;
}

.columnCells:last-child {
  border-bottom: none;
}

.firstColumn {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 50px;
  display: flex;
  justify-content: center;
}

.firstColumn:first-child {
  margin-top: 45px;
  border-top: 1px solid #ccc;
}

.firstColumn:last-child {
  border-bottom: 0;
}

.sortButtonsContainer {
  display: flex;
}

.sortButton {
  margin-right: 10px;
  border: 0;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #fff;
}

.sortButton:last-child {
  margin-right: 0;
}

.sortButton:hover {
  cursor: pointer;
}

.sortButton:focus {
  outline: none;
}

.addColumnButton {
  margin: 0 10px;
  border: 0;
  padding: 5px 10px;
  font-size: 12px;
  background-color: #fff;
}

.addColumnButton:hover {
  cursor: pointer;
}

.addColumnButton:focus {
  outline: none;
}
